/* Estilos generales */
.container {
  max-width: 1100px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  text-align: center; /* Centra todo el texto dentro del contenedor */
}

.form-label {
  font-weight: bold;/* Texto en negrita para las etiquetas */
  margin-bottom: 5px; /* Espacio entre las etiquetas y los campos de formulario */
}

.form-control {
  display: block; /* Muestra el campo de formulario como un bloque */
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 0.4rem ; /* Espacio interno dentro del campo de formulario */
  border: 1px solid #c2c2c2; /* Borde gris claro */
  border-radius: 4px; /* Esquinas redondeadas */
  margin: 0 auto; /* Centra los campos de formulario horizontalmente */
}

.btn-primary {
  background-color: #007bff; /* Color azul oscuro de fondo */
  color: #ffffff; /* Texto blanco */
  border-color: #c9d1da; /* Borde gris claro */
  padding: 0.5rem 1rem; /* Espacio interno dentro del botón */
  border-radius: 4px; /* Esquinas redondeadas */
  cursor: pointer; /* Indicador de cursor para hacer clic */
}
.btn-success {
  background-color: #2bb326; /* Color azul oscuro de fondo */
  color: #ffffff; /* Texto blanco */
  border-color: #c9d1da; /* Borde gris claro */
  padding: 0.5rem 1rem; /* Espacio interno dentro del botón */
  border-radius: 4px; /* Esquinas redondeadas */
  cursor: pointer; /* Indicador de cursor para hacer clic */
}

header {
  padding: 45px; /* Espacio interno en el encabezado */
  text-align: center; /* Texto alineado al centro */
  background-color: #eceeef;
}

header img {
  max-width: 100%;
  height: 50%;
  margin-bottom: -30px;
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .form-control {
    font-size: 14px; /* Ajusta el tamaño de la fuente en pantallas pequeñas */
  }
}/* Estilo general para ambos botones */
.custom-button {
  color: white; /* Color del texto */
  font-size: 18px; /* Tamaño del texto */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  text-decoration: none; /* Quitar subrayado en enlaces */
  display: inline-block; /* Para que el enlace se comporte como botón */
}

/* Estilo específico para el botón "Registrarse" (Azul) */
.btn-blue {
  background-color: #007bff; /* Color de fondo (azul) */
}

/* Estilo específico para el botón "Iniciar Sesión" (Verde) */
.btn-green {
  background-color: #28a745; /* Color de fondo (verde) */
}

